/* custom CSS rules */

body {
    padding: 0;
    margin: 0;
    background: whitesmoke;
    font-family: Montserrat, sans-serif;
    border: 1px;
}

b {
    font-weight: bold;
}

h1, h2, h3, p {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 2em;
    font-weight: 100;
    color: #662002;
}

p {
    top: 750px;
    left: 60px;
    font-size: .9em;
    font-weight: 80;
    color: #662002;
}

h2 {
    top: 100px;
    left: 30px;
    font-size: 1.2em;
}

h3 {
    top: 140px;
    left: 30px;
    font-size: 0.85em;
}

#map {
    width: 900px;
    height: 600px;
    margin-top: 90px;
    margin-left: 200px;
    /*margin-bottom: 5px auto;*/
    border: 1px solid #d3d3d3;
}

.topology {
     stroke: #fff;
     fill: gray;
}

.hover {
    fill: yellow;
}

.legend {
    font-size: 11px;
}

.point-turtle {
     fill: blue;
     /*stroke: white;*/
     opacity: .7;
}

.footer {
  position: bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
div.tooltip {
    position: absolute;
    text-align: center;
    width: absolute;
    height: 15px;
    padding: 2px;
    font-size: 12px;
    background: #FFFFE0;
    border: 1px;
    border-radius: 8px;
    pointer-events: none;
}

#year-value {
     width: 200px;
     margin-left: 200px;
     margin-bottom: 10px;
     text-align: center;
}

.slider {
     width: 200px;
     margin-top: 10px;
     margin-left: 200px;
     margin-bottom: 5px;
     border: 1px, solid #d3d3d3;
}

/*path {
    stroke: white;
    stroke-width: 0.5px;
    fill: gray;
}*/
/*svg {
  background: lightBlue;
}*/
svg {
    background: #eee;
}

.sphere {
    fill: #fff;
}

.land {
     /*fill: #000;*/
     fill: gray;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
    vector-effect: non-scaling-stroke;
}

.overlay {
    fill: none;
    pointer-events: all;
}
